$font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif;

$page-width: 1180px;

$text-color: #1f2230;
$secondary-text-color: #62697b;

$background-color: #f7f5fc;
$light-background-color: #f1eef9;

$primary-color: #2e78d2;
$primary-hover-color: #1f5fae;

$border-color: #ddd8ea;

$header-height: 88px;


/* new theme colors */
$header-start: #7057b7;
$header-mid: #5f4aa8;
$header-end: #483987;

$header-text-color: #ffffff;
$header-muted-color: rgba(255, 255, 255, 0.88);

$active-line-color: #96c7ff;

$footer-background: #efebf8;
